{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
      <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Chi Tiếu Phiếu Bầu Của {{nv1.first_name}} {{nv1.last_name}}</h1>

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Chi Tiếu Phiếu Bầu Của {{nv1.first_name}} {{nv1.last_name}}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form action="#">
                        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Chi Tiếu Phiếu Bầu</h3>
              </div>
              <!-- ./card-header -->
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Tên Nhân Viên Bổ Nhiệm</th>

                      <th>Chức Vụ Mới</th>
                        <th>Thời Gian</th>
                      <th>Ghi Chú</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in nvbn %}
                    <tr data-widget="expandable-table" aria-expanded="false" >
                                <td>{{item.nvbonhiem.first_name}} {{item.nvbonhiem.last_name}} </td>
                                <td>{{item.chucvumoi.ten_cv}}</td>
                                <td>{{item.thoigian}}</td>
                                <td>{{item.ghichu}}</td>
                    </tr>
                  {% endfor %}


                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
              <div class="card-footer">
                  <a type="button" href="{% url 'chitietbonhiem' %}" class="btn btn-info">Quay Lại</a>
                </div>
            </form>
        </div>
    </section>
  </div>
{% endblock %}
{% block content1 %}

{% endblock %}