{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sửa Lương Nhân Viên</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Sửa Lương Nhân Viên</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content-header">
      <div class="container-fluid">
              <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Thông Tin</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-horizontal" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tên Nhân Viên</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control"  value="{{luongnv.nhan_vien.first_name}} {{luongnv.nhan_vien.last_name}} - {{luongnv.nhan_vien.id}}" name="tenNhanVien" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Chức Vụ</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control"  value="{{luongnv.nhan_vien.chuc_vu}}"  readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Phòng Ban</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control"  value="{{luongnv.nhan_vien.phong_ban}}" readonly>
                    </div>
                  </div>
                    <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Tên Bậc Lương Cơ Bản</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="selectbacluong">
                            <option value="{{item.id}}"></option>
                            {% for item in bl %}
                                {% if item.id == luongnv.bac_luong.id%}
                                <option value="{{item.id}}" selected>{{ item.ten_bl}}</option>
                                {% else %}
                                <option value="{{item.id}}">{{ item.ten_bl}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Tên Phụ Cấp</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="selectphucap">
                          <option value="{{item.id}}"></option>
                            {% for item in pc %}
                                {% if item.id == luongnv.phu_cap.id%}
                                <option value="{{item.id}}" selected>{{ item.ten_pc}}</option>
                                {% else %}
                                <option value="{{item.id}}">{{ item.ten_pc}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Tên Thưởng</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="selectthuong">
                          <option value="{{item.id}}"></option>
                            {% for item in thuong %}
                                {% if item.id == luongnv.thuong.id%}
                                <option value="{{item.id}}" selected>{{ item.ten_t}}</option>
                                {% else %}
                                <option value="{{item.id}}">{{ item.ten_t}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                    <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Lương Cũ</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control"  value="{{luongnv.luong}}"  readonly>
                    </div>
                  </div>
                    <div class="form-group row">
                        <b>{{mess}}</b>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Cập Nhật</button>
                  <a type="submit" href="{% url 'qlluongnhanvien' %}" class="btn btn-default float-right">Huỷ</a>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
      </div>
     </section>
</div>
{% endblock %}

{% block content1 %}
{% endblock %}