{% extends 'base.html' %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-4">
            <h1>Thông Tin Nhân Viên</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Thông Tin Nhân Viên</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-10">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Thông Tin Cá Nhân</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="" method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <i class="nav-icon fas fa-user-circle"></i>
                    <label for="exampleInputEmail1">Tên Đăng Nhập</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="{{us.username}}" name="tendangnhap" disabled>
                  </div>
                  <div class="form-group">
                    <i class="fas fa-envelope"></i>
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" value="{{us.email}}" name="email" readonly>
                  </div>
                    <div class="form-group">
                      <i class="fas fa-file-signature"></i>
                    <label >First Name</label>
                    <input type="text" class="form-control" value="{{us.first_name}}" name="first_name" readonly>
                  </div>
                    <div class="form-group">
                      <i class="fas fa-user-tag"></i>
                    <label >Last Name</label>
                    <input type="text" class="form-control" value="{{us.last_name}}" name="last_name" readonly>
                  </div>
                    <div class="form-group">
                      <i class="fas fa-person-booth"></i>
                    <label >Phòng Ban</label>
                    <input type="text" class="form-control" value="{{us.phong_ban.ten_pb}}" name="phongban" readonly>
                  </div>
                  <div class="form-group">
                    <i class="fas fa-briefcase"></i>
                    <label >Chức Vụ</label>
                    <input type="text" class="form-control" value="{{us.chuc_vu.ten_cv}}" name="chucvu" readonly>
                  </div>
                    <div class="form-group">
                      <i class="fas fa-phone-alt"></i>
                    <label >Số Điện Thoại</label>
                    <input type="text" class="form-control" value="{{us.phone_number}}" name="phone" readonly>
                  </div>
                     <div class="form-group">
                       <i class="fas fa-location-arrow"></i>
                    <label >Địa Chỉ</label>
                    <input type="text" class="form-control" value="{{us.address}}" name="address" readonly>
                  </div>
                    <div class="form-group">
                      <i class="fas fa-book-open"></i>
                        <label>Mô Tả</label>
                        <textarea class="form-control"  placeholder="Thêm mô tả" readonly></textarea>
                      </div>
                </div>
                <!-- /.card-body -->
                <h4>{{mess}}</h4>
                <div class="card-footer">
                  <a href="{% url 'qlnhanvien'%}" class="btn btn-secondary">Quay Lại</a>
                  <a href="{% url 'editnhanvien' us.id %}" class="btn btn-primary">Sửa</a>
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
            <!-- Input addon -->
            <!-- /.card -->
            <!-- Horizontal Form -->
            <!-- /.card -->

          <!--/.col (left) -->
          <!-- right column -->
          <!--/.col (right) -->
        </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}