{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <!-- dialog 1 -->
    <!--
    dialog 2
    -->
    <div class="modal fade" id="dialog2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post" id="formphucap">
                {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">Sửa Bậc Lương</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card-body">
                  <div class="form-group">
                    <label >Tên Bậc Lương</label>
                    <input type="text" class="form-control" placeholder="Tên" name="saveNamePC" >
                  </div>
                  <div class="form-group">
                    <label >Loại Bậc Lương</label>
                    <input type="text" class="form-control"  placeholder="Loại" name="saveTypePC" >
                  </div>
                    <div class="form-group">
                    <label >Mức Phụ Cấp</label>
                    <input type="number" class="form-control"  placeholder="Mức Phụ Cấp" name="saveLevelPC" >
                  </div>
                    {{mess}}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" idbacluong="" id="capnhatbacluong" class="btn btn-primary" onClick="functiontest(this)">Lưu lại</button>
            </div>
            </form>
        </div>
    </div>
</div>
    <!--
    dialog
    -->



    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Quản Lý Lương Nhân Viên</h1>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-primary" type="button" href="{% url 'addluongnhanvien'%}"> Thêm Lương</a>
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Quản Lý Lương Nhân Viên</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <b><h3 class="card-title">Lương Nhân Viên</h3></b>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Tên Nhân Viên</th>
                      <th>Chức Vụ</th>
                    <th>Bậc Lương</th>
                    <th>Phụ Cấp</th>
                    <th>Thưởng</th>
                      <th>Tổng Lương ($)</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item in lnv %}
                  <tr id="">
                    <td>{{item.nhan_vien.first_name}} {{item.nhan_vien.last_name}} - {{item.nhan_vien.id}}</td>
                      <td>{{item.nhan_vien.chuc_vu.ten_cv}} </td>
                    <td>{{item.bac_luong}}</td>
                    <td>{{item.phu_cap}}</td>
                      <td>{{item.thuong}}</td>
                      <td>{{item.luong}}</td>

                    <td >
                        <div class="btn-group">
                            <button type="button" class="btn btn-info">Action</button>
                            <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu" role="menu">
                            <a href="{% url 'editluongnhanvien' item.id %}" class="dropdown-item" >Sửa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="{{item.id}}"  onclick="xoaluongnhanvien(this)">Xoá</a>
                          </div>
                        </div>
                      </td>
                  </tr>
                  {% endfor %}

                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Tên Nhân Viên</th>
                      <th>Chức Vụ</th>
                    <th>Bậc Lương</th>
                    <th>Phụ Cấp</th>
                    <th>Thưởng</th>
                      <th>Tổng Lương ($)</th>
                      <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
{% block content1 %}
<script>

    function xoaluongnhanvien(e){
      var id = $(e).attr("id") ;

       if(confirm("Bạn chắc chắn muốn xóa")){
         $.ajax({
      url: '/qlluongthuong/xoaluongnhanvien',
      method:'get',
      data:{"id":id},
      dataType: 'json',
      contentType: "application/json",
      success: function (res) {
         if(res==200){ alert("Xóa thanh công") ; window.location.reload()}

         else alert("Xóa thất bại")
      },
      error: function (res) {
       console.log(res)
      }
     });
       }
    }
</script>

<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src=".{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}